@import "../../global.scss";

.portfolio {
    background-color: #B39BC8;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 50px;
        font-size: 50px;
    }

    .container {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;

        .item {
            width: 320px;
            height: 240px;
            border-radius: 20px;
            border: 1px solid lightgrey;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            transition: all .5s ease;
            cursor: pointer;

            h3 {
                position: absolute;
                font-size: 20px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &:hover {
                background-color: $mainColor;
                img {
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }
    }
}